# Ignore everything in the repository root by default
/*

# Keep the essentials
!README.md
!.gitignore
!.gitattributes
!Dockerfile
!src/
!doc/

# Allow all contents inside src and docs directories
!src/**
!doc/**