# ROS 2 Build Artifacts (The big ones)
build/
install/
log/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# IDEs and System files
.vscode/
.idea/
.DS_Store
*.Identifier

# Local environment files
.env
output_result.png
sim-logs/