<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="bgr">

    <ros2_control name="RobotSystem" type="system">

        <!-- ros2_control Gazebo -->
        <!-- ROS 2 Humble -->
        <xacro:if value="$(arg is_ignition)">
            <hardware>
                <plugin>ign_ros2_control/IgnitionSystem</plugin>
            </hardware>
        </xacro:if>

        <!-- ROS 2 Iron or above -->
        <xacro:unless value="$(arg is_ignition)">
            <hardware>
                <plugin>gz_ros2_control/GazeboSimSystem</plugin>
            </hardware>
        </xacro:unless>

         <!-- Rear wheels: effort-controlled by controllers -->
        <joint name="Wheel_rl_joint">
            <command_interface name="effort">
              <param name="min">-241.5</param>
              <param name="max">241.5</param>
            </command_interface>
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>

        <joint name="Wheel_rr_joint">
            <command_interface name="effort">
              <param name="min">-241.5</param>
              <param name="max">241.5</param>
            </command_interface>
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>

        <!-- Front steering and wheels -->
        <joint name="Steering_fl_joint">
            <command_interface name="position">
                <param name="min">-0.384</param>
                <param name="max">0.384</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>

        <joint name="Steering_fr_joint">
            <command_interface name="position">
                <param name="min">-0.384</param>
                <param name="max">0.384</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>

         <!-- Front wheels: effort-controlled by controllers -->
        <joint name="Wheel_fl_joint">
        <command_interface name="effort">
            <param name="min">-241.5</param>
              <param name="max">241.5</param>
        </command_interface>

        <state_interface name="position"/>
        <state_interface name="velocity"/>
        </joint>

        <joint name="Wheel_fr_joint">
        <command_interface name="effort">
            <param name="min">-241.5</param>
              <param name="max">241.5</param>
        </command_interface>

        <state_interface name="position"/>
        <state_interface name="velocity"/>
        </joint>
        
    </ros2_control>

</robot>
